body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
}

@keyframes backgroundColorCycle {
  0%   { background-color: #ffffee; } 
  16%  { background-color: #ffeeff; }
  33%  { background-color: #eeffff; }
  50%  { background-color: #feefff; }
  66%  { background-color: #ffefef; } 
  83%  { background-color: #eeffee; }  
  100% { background-color: #ffffee; }  
}

body {
  animation: backgroundColorCycle 5s linear infinite;
}
.none{
  display:none;
}
.fullwidth{
  width:100%;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.loading{
  height: 48px;
}

header,
.container{
  max-width: 1200px;
  margin: auto;
}


.filter-tags {
  text-align: center;
  padding-bottom: 40px;
  
}
.filter-tags button{
  background: transparent;
  text-transform: uppercase;
  font-size: .9em;
  margin:0 5px ;
  padding: 10px 18px;
  border-radius: 40px;
  border:1px solid transparent;
  letter-spacing: .1em;
}
.filter-tags button.active{
  border-color:rgba(0,0,0,0.5);
}

.content{
  max-width: 1200px;
  margin: auto;
}

.back-button{
  background:transparent;
  text-transform: uppercase;
  border:0;
  font-size: .7em;
  font-weight:600;
  letter-spacing: .2em;
}
